*{
    padding: 0;
    margin: 0;
}

body{
    width: 345px;
    height: 442px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: solid black 1px;
    border-radius: 5px;
    margin: 20px;
}

.header{
    padding: 16px;
    display: flex;
    align-items: center;
    height: 40px;

}

.header-logo-content{
    display: inline-block;
    width: 217px;
    

}

.header-logo-content-title, .header-logo-content-date{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 20px;
}

.header-logo-content-title{
    color:rgba(0, 0, 0, 0.87);
}

.header-logo-content-date{
    color: rgba(0, 0, 0, 0.54);
}

.header-logo{
    width: 40px;
    height: 40px;
    background: red;
    /* -moz-border-radius: 20px;
    -webkit-border-radius: 20px; */
    border-radius: 20px;
    margin: 0 16px 0 0;
}

.header-logo p{
    color: white;
    font-size: 18px;
    padding: 10px 0 0 13px;
    display: block;
}

button{
    width: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.0);
    border-radius: 24px;
    border: 0px;
}

button:hover{
    width: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    border: 0px;
    cursor:pointer;
}

.background_pic{
    background-image: url(../images/paella.jpg);
    width: 345px;
    height: 194px;
}

.article{
    line-height: 20px;
    color: rgba(0, 0, 0, 0.54);
    padding: 16px;
}

footer{
    padding: 8px;
    display: flex;
}

.footer-menu{
    margin: 0 0 0 185px;
}